/* Html tags */
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    
}
body{
    margin: 0;
}

header{
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
footer{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 60%;
    
}
.display-in-line{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;

}
/* h1, h2, h3, h4{
    
} */
p{
    line-height: 2em;
    font-size: medium;
    color: rgb(40, 40, 40);
    text-align: left;
}
/* a{
    line-height: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    text-decoration: none; 
} */
li{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Id */
#profilePicture{
    width: 6.5em;
    clip-path: circle();
}
#projectsPicture{
    width: 6.5em;
    clip-path: circle();
    
}
#professionalQualification{
    width: 6.5em;
    clip-path: circle();
}
#menu{
    position: fixed;
    top: 1em;
    right: 1em;
}
#githubMark{
    width: 2em;
    margin: 0 10px; 
   
}
#linkedinMark{
    width: 2em;
    margin: 0 10px; 
    height: auto;
}
/* Class */
.text-inside-header-or-footer{
    text-align: center;
}
.center-main-box{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.info-box-with-image{   
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
  padding: 1em;
  border: solid 1px gray;  
  border-radius: 3em
  
}
.image-box-at-rigth{
    float: right;
    margin: auto;
    padding-left: 2em;
}
.image-box-at-left{
    float: left;
    margin: auto;
    padding-right: 2em;
}

.text-box{
    flex: 1;
    margin-top: 0;
    
}
/* .info-box{
    
} */